:root {
    --shadow-color: rgba(0, 0, 0, 0.2);
    --background-color: #f5f5dc;
    --text-color: #333;
}

.profileContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    position: relative;
    border: 1px solid #ddd;
}

.menuContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.menuIcon {
    cursor: pointer;
    font-size: 20px;
    color: #ff9800;
}

.menuDropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    min-width: 120px;
}

.menuDropdown button {
    background: linear-gradient(to right, #FFCC80, #FFB74D);
    padding: 8px 15px;
    border: none;
    padding: 14px 18px;
    background: none;
    text-align: left;
    cursor: pointer;
    color: #333;
    font-size: 15px;
}

.menuDropdown button:hover {
    background: linear-gradient(to right, #F57C00, #E65100);
    transform: translateY(-2px);
}

.profilePhotoAndInfo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profileInfo {
    text-align: left;
    flex: 1;
}

.formContent p {
    color: var(--text-color);
    margin-bottom: 5px;
    font-size: 20px;
}

.profilePhoto {
    border-radius: 50%;
    border: 2px solid #ff9800;
    width: 200px;
    height: 200px;
    object-fit: cover;
    flex-shrink: 0;
}

.friendsListContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.friendsList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.friendItem {
    margin-right: 10px;
    cursor: pointer;
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.friendItem:last-child {
    margin-right: 0;
}

.friendPhoto {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.friendItem:hover .friendPhoto {
    transform: scale(1.1);
}

section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
    cursor: pointer;
}

.gallerySection {
    display: flex;
    flex-direction: column;

}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.galleryHeading {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 30px;
}

.viewAllButton {
    background: linear-gradient(to right, #FFCC80, #FFB74D);
    border: none;
    padding: 14px 18px;
    border-radius: 12px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    color: var(--text-color);
    font-size: 20px;
}

.viewAllButton:hover {
    background: linear-gradient(to right, #F57C00, #E65100);
    transform: translateY(-2px);
}

.tabs {
    display: flex;
    background: rgba(248, 240, 229, 0.9);
    border-radius: 10px;
    padding: 5px;
    overflow-x: auto; 
}

.tab {
    background: linear-gradient(to right, #FFCC80, #FFB74D);
    color: var(--text-color);
    padding: 10px 20px;
    margin: 2px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    white-space: nowrap; 
    font-size: 20px;
}

.tab:hover {
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.activeTab {
    background:  #FFB74D;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
}

.tab:last-child {  
    background:  #FFB74D;
    color: var(--text-color);
    font-size: 20px;
    line-height: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px; 
    height: 35px;  
    border-radius: 50%; 
    padding: 0;    
    margin-left: auto; 
}

.tab:last-child:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.addProfile {
    text-align: center;
    padding: 40px; 
    border: 2px solid #ffcc80; 
    border-radius: 10px;
    margin-top: 20px;
    background-color: #fffaf0;
}

.addProfile div {
    margin-bottom: 20px; 
    font-size: 20px;
}

.addProfile button {
    background: linear-gradient(to right, #85655a, #795548);
    color: white;
    border: none;
    padding: 14px 18px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    margin: 10px;
}

.addProfile button:hover {
    background: linear-gradient(to right, #F57C00, #E65100);
    transform: translateY(-2px);
}



