@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

:root {
  --primary-color: #795548;
  --secondary-color: #FFB74D;
  --accent-color: #795548;
  --text-color: #333;
  --max-width: 800px;
  --font-family: 'Rubik', cursive;
  --background: rgba(248, 240, 229, 0.9);
}

.loading {
  text-align: center;
  font-size: 20px;
  color: var(--primary-color);
  padding: 20px;
}

.title {
  color: var(--primary-color);
  font-size: 4em;
  margin-bottom: 10px;
  text-align: center;
}

.chatList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
}

.chatItem {
  background: rgba(248, 240, 229, 0.9);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.chatItem:hover {
  transform: scale(1.02);
}

.profileImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.chatInfo {
  flex-grow: 1;
}

.chatName {
  font-size: 20px;
  color: var(--text-color);
  font-weight: bold;
}

.deleteButton {
  background: linear-gradient(to right, #85655a, #795548);
  color: white;
  border: none;
  padding: 14px 18px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  margin: 10px;
  margin-right: 25px;
}

.deleteButton:hover {
  background: linear-gradient(to right, #F57C00, #E65100);
  transform: translateY(-2px);
}

.noChats {
  text-align: center;
  font-size: 20px;
  color: var(--primary-color);
  padding: 40px;
  background: rgba(248, 240, 229, 0.9);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: var(--max-width);
}

.lastMessage {
  font-size: 14px;
  color: #333;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}