.footer {
    background: linear-gradient(to right,#fcba59 20%, #f8d68e 55%, #fcf4eb 100%);
    height: 10vh;
    width: 100%;
    max-width: 1500px;
    bottom: 0;
    z-index: 10;
    display: flex;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-left-radius: 25px; 
    border-bottom-right-radius: 25px; 
    position: fixed; 
    bottom: 0; 
}

.button {
    font-size: 10px;
}

.text {
    font-size: 15px;
    margin-left: 15px;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #724e40; 
}

.central {
    flex: 2; /* Occupies 2/3 of the available space */
    display: flex;
    align-items: center;
    justify-content: flex-end;/* Align content to the start */
}

.rightContent {
    flex: 1; /* Occupies 1/3 of the available space */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align content to the end */
}


.logo {
    width: 200px;   /* Установите желаемую ширину логотипа */
    height: auto;  /* Автоматическая высота, чтобы сохранить пропорции */
    margin-left: 10px; /* Отступ слева от иконок */
}
