* {
    background-color: #2b2b2b;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
}

.box {
    padding: 10px;
    box-sizing: border-box;
}

.main {
    padding: 50px;
}

.registration {
    text-align: center;
}

.field {
    width: 400px;
    height: 40px;
    margin: 8px;
    border: 2px solid #36e2ff;
    border-radius: 5px;
    background-color: #2b2b2b;
    color: white;
    font-size: 20px;
}

.button_form {
    border-radius: 5px;
    width: 410px;
    height: 40px;
    margin-top: 50px;
    background-color: #36e2ff;
    font-size: 20px;
}

.button {
    background: none;
    border: none;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

.line {
    margin: 25px;
}

.hidden_field {
    width: 360px;
    height: 30px;
    color: red;
    font-size: 15px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: white;
}

.text {
    color: white;
    padding-bottom: 0px;
    font-size: 25px;
}

.text_size {
    font-size: 45px;
    padding-bottom: 5px;
}

.group_buttons {
    display: flex;
    justify-content: center;
}

.image {
    width: 30%; 
    height: 10%;
    position: absolute;
    top: 13%;
    left: 70%;
    transform: translate(-50%, -50%);
}