.form_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 95%;
    background: rgba(248, 240, 229, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    border: 1px solid #ddd;
}

.form_group {
    display: flex;
    flex-direction: column;
}

.form_group label {
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
    font-weight: 600;
}

.form_input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    color: #333;
    width:60%;
    transition: box-shadow 0.2s ease-in-out;
    background: linear-gradient(to bottom, #f9f9f9, #fff);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form_input:focus {
    border-color: #FFB74D;
    outline: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.form_buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.form_button {
    background: linear-gradient(to right, #85655a, #795548);
    padding: 14px 18px;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.form_button:hover {
    background: linear-gradient(to right, #F57C00, #E65100);
    transform: translateY(-2px);
}

.form_button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

h2{
    margin-bottom: 15px;
    color:#333;
    margin-left: 15px;
}

