
:root {
  --border-color: #bdc3c7;
}

.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: rgba(247, 235, 218, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.left_page {
  width: 50%;
  padding: 20px;
  border-right: 2px solid  #bdc3c7;
}

.right_page {
  width: 50%;
  padding: 20px;
}

.calendar_container {
  width: 95%;
  margin: 20px auto;
  justify-content: center;
}

.calendar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: rgba(247, 235, 218, 0.9);
  border-bottom: 1px solid  #bdc3c7;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: -20px;

  button {
    background: #795548;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background: linear-gradient(to right, #F57C00, #E65100);
      transform: translateY(-2px);
    }
  }
}

.calendar_header_content {
  text-align: center;
  flex-grow: 1;
  color: #333;
  font-size: 20px;
}

.week_view {
  display: flex;
  width: 100%;
  min-height: 450px;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal_close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.icon {
  width: 40px;
  height: 40px;
}

.calendar_icon_button {
  border: none;
}
  