h3 {
  font-size: 1em;
  margin-bottom: 8px;
  color: var(--primary-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px 0;
  border-bottom: 1px dotted var(--border-color);

  &:last-child {
    border-bottom: none;
  }
}

.task_item {
  color: #333;
}

.task_item_divider {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.day_header {
  color: #795548;
  font-size: 20px;
}

.day_view {
  border: 1px solid var(--border-color);
  margin-bottom: 5px;
  padding: 15px;
  flex-grow: 1;
  min-height: 150px;
  background-color: white;
  border-radius: 5px;
  transition: box-shadow 0.2s ease;
  color: #333;
  max-height: 150px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &:hover {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
  }
}