.commentContainer {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

ul {
  list-style: none;
  padding: 0;
}

.commentItem {
  flex-direction: column;
  position: relative;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 15px;
  background-color: #fafafa;
  display: block;
  font-size: 20px;
}

.commentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-size: 20px;
  color: #777;
}

.commentAuthor {
  font-weight: bold;
  color: #555;
  flex-grow: 1;
  margin-right: 20px;
}

.commentCreatedAt {
  font-style: italic;
  margin-right: 10px;
}

.addComment textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 20px;
  margin-bottom: 10px;
  resize: vertical;
  box-sizing: border-box;
}

.addComment button {
  background-color: #795548;
  color: white;
  border: none;
  padding: 14px 18px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.addComment button:hover {
  background: linear-gradient(to right, #F57C00, #E65100);
  transform: translateY(-2px);
}

.commentItem button {
  background-color: #ffb300;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s;
}

.commentItem button:hover {
  background: linear-gradient(to right, #F57C00, #E65100);
  transform: translateY(-2px);
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;
  padding: 0;
  margin: 0;
  outline: none; 
}

.menu {
  position: absolute;
  top: 10px;
  right: -150px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu button {
  display: block;
  width: 100%;
  padding: 8px 15px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  outline: none;
}

.menu button:hover {
  background-color: #f0f0f0;
}

.commentText {
  margin-top: 5px;
  color: #333;
  font-size: 20px;
}

.commentInput {
  font-size: 16px;
  color: #333;
  border: none;
  outline: none;
  padding: 20px;
  margin: 0;
  border: 0;
  border-width: 0;
  border-style: none;
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
}

.commentAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
}

.commentHeader {
  display: flex;
  align-items: center;
}

.commentEditContainer {
  margin-top: 5px;
}

.commentEditTextarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 20px;
  margin-bottom: 5px;
}

.commentEditButtons {
  display: flex;
  justify-content: flex-end;
}

.commentEditButtons button {
  background: linear-gradient(to right, #FFCC80, #FFB74D);
  color: #333;
  border: none;
  padding: 14px 18px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.commentEditButtons button:hover {
  background-color: darken(var(#FFB74D), 10%);
}