.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  background: rgba(248, 240, 229, 0.9);
}

.content {
  display: flex;
  flex: 1;
}

.main_content {
  flex: 1;
  margin-top: 11vh;
  margin-left: 300px;
  padding-left: 50px;
  padding-top: 50px;
  padding: 50px;
  padding-bottom: 210px;
  background: rgba(248, 240, 229, 0.9);
  box-sizing: border-box;
}