.footer {
    background-color: #2b2b2b;
    height: 10vh;
    width: 100%;
    max-width: 2000px;
    bottom: 0;
    z-index: 10;
    color: white;
    display: flexbox;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}

.button {
    font-size: 10px;
}

.text {
    font-size: 15px;
    margin-left: 15px;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
}