.container {
  background: linear-gradient(to right, #fcf4eb 20%, #faf4ec 55%, #f8c374 100%);
  transition: backgroung-color 3s ease;
  height: 11vh;
  width: 100%;
  max-width: 1500px;
  display: flex;
  top: 0;
  z-index: 100;
  box-sizing: border-box;
  position: fixed;
  border-top-left-radius: 25px; 
  border-top-right-radius: 25px; 
  border-bottom-left-radius: 0px; 
  border-bottom-right-radius: 0px; 
  align-items: flex-start;
}

.logo
{
  width: 800px;
  height: 16vh;
  cursor: pointer;
  margin-right: 20px;
}

.button {
  position: fixed;
}

.exit {
  margin-left: auto;
}

.text {
  margin-left: 42px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 50px;
  background: none; 
  border: none; 
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  text-shadow: 1px 1px 2px var(--shadow-color); 
  padding: 8px 25px; 
  border-radius: 5px; 
  color: #724e40; 
}

.exit_text
{
  font-size: 30px;
  font-weight: normal;
}

.logo_text
{
  margin-left: 5px;
  font-size: 50px;
  font-weight: bold;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-top: 25px;
}
