.container {
    position: relative;
    width: 900px;
    height: 600px;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 20px;
}

.blurredImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.clearImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 120%;
}

.img {
    filter: blur(20px);
    width: 100%;
    height: 100%;
}

.image {
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    padding: 20px;
    box-sizing: border-box;
}