.searchContainer {
    margin-top: 20px;
    padding: 10px;
    background: rgba(248, 240, 229, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.searchForm {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding: 20px;
}

.formRow {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    flex-grow: 1;
}

.formRow label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    font-size: 20px;
}

.formRow input {
    padding: 14px 18px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}

.searchButton {
    margin-top: 50px;
    background: linear-gradient(to right, #FFCC80, #FFB74D);
    color: #333;
    border: none;
    padding: 14px 18px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    white-space: nowrap;
    height: fit-content;
}

.searchButton:hover {
    background: linear-gradient(to right, #F57C00, #E65100);
    transform: translateY(-2px);
}

.notFound {
    font-style: italic;
    color: #333;
    font-size: 20px;
    margin-top: 10px;
}

.searchResultsList {
    display: flex;
    align-items: center;
    background: rgba(248, 240, 229, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    font-size: 20px;
    color: #333;
}

.searchResultsList li {
    padding: 15px;
    border-bottom: 1px solid #e9ecef;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.searchResultsList li:last-child {
    border-bottom: none;
}

.searchResultsList li:hover {
    background-color: white;
}

.resultPhoto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 20px;
    margin-left: 20px;
}