.friendRequestsContainer {
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.requestTabs {
    display: flex;
    margin-bottom: 10px;
}

.requestTabs button {
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    color: #555;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 20px;
}

.requestTabs button:hover {
    background-color: #f8f8f8;
    color: #333;
}

.requestTabs button.active {
    background-color: #fff;
    color: #ff9800;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.requestListContainer {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    font-size: 20px;
    color: #333;
}

.requestEditButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

.requestEditButtons button {
    margin-left: 5px;
    padding: 14px 18px;
    border-radius: 12px;
    background: linear-gradient(to right, #FFCC80, #FFB74D);
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.requestEditButtons button:hover {
    background: linear-gradient(to right, #F57C00, #E65100);
    transform: translateY(-2px);
}

.requestItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.requestItem:hover {
    background-color: #f8f8f8;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #f8f8f8;
}

li button {
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    margin-left: 5px;
}

li button:hover {
    background-color: #f8f8f8;
}

.friendPhoto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.friendInfo {
    font-size: 20px;
    color: #333;
    white-space: nowrap;
}

.text
{
    font-size: 20px;
    color: #333;
}