.container {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    width: 100%; 
    min-height: 100vh; 
}

.main {
    background-image: url("C:\Users\admin\Desktop\social_network\social_network\src\images\main.jpg");
    background-size: contain;
    background-position-y: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100%;
    max-width: 1500px;
    position: relative;
    border: 2px solid #ffcc80;
    border-top-left-radius: 25px; 
    border-top-right-radius: 25px; 
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    justify-content: center;
    transform: translate(0, 0);
    left: 0;
    overflow: hidden;
    padding-bottom: 10vh;
    min-height: 90vh;
    box-sizing: border-box;
    align-items: center;
}

.box {
    padding: 50px;
    box-sizing: border-box;
}

.registration {
    width: 100%;
    max-width: 450px;
    margin: 50px auto;
    border-radius: 25px;
    background: rgba(248, 240, 229, 0.7); 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    padding: 40px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.box {
    position: relative;
}

.text {
    margin-bottom: 15px;
    font-size: 25px;
    color: #795548;
}

.text_size {
    font-size: 35px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.line {
    border: none;
    border-top: 2px dashed #FFB74D;
    margin: 30px 0;
}

.field {
    width: 90%;
    padding: 18px;
    margin-bottom: 25px;
    border: 2px solid #FFB74D; 
    border-radius: 12px;
    font-size: 20px;
    background-color: rgba(255, 243, 224, 0.7);
    color: #795548;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.field:focus {
    outline: none;
    border-color: #FF9800;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15), 0 0 8px rgba(255, 152, 0, 0.2);
}

.button_form {
    width: 100%;
    padding: 18px;
    background: linear-gradient(to right, #FFCC80, #FFB74D);
    color: #795548;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button_form:hover{
    background: linear-gradient(to right, #F57C00, #E65100);
    transform: translateY(-2px);
}

.button_form:active {
    transform: translateY(1px);
}

.group_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.button {
    background: linear-gradient(to right, #FFCC80, #FFB74D);
    color: #795548;
    border: none;
    padding: 18px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    width: 48%;
}

.button:hover{
    background: linear-gradient(to right, #F57C00, #E65100);
    transform: translateY(-2px);
}


