* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Courier New', Courier, monospace,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 