.form_container {
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto;
    background: rgba(248, 240, 229, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    border: 1px solid #ddd;
    flex-wrap: wrap;
}

.form_container>* {
    flex-basis: calc(50% - 10px);
}

.form_group {
    display: flex;
    flex-direction: column;
}

.form_group label {
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
    font-weight: 600;
}

.form_input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    color: #333;
    transition: box-shadow 0.2s ease-in-out;
    background: linear-gradient(to bottom, #f9f9f9, #fff);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form_input:focus {
    border-color: #FFB74D;
    outline: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.form_buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.form_button {
    background: linear-gradient(to right, #85655a, #795548);
    padding: 14px 18px;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.form_button:hover {
    background: linear-gradient(to right, #F57C00, #E65100);
    transform: translateY(-2px);
}

.form_button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.form_group {
    margin-bottom: 20px;
}

.form_label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
}


.form_group label::after {
    content: " *";
    color: red;
  }
  
  .form_group label[for="dateOfBirth"]::after,
  .form_group label[for="walksDogs"]::after,
  .form_group label[for="aboutSelf"]::after,
  .form_group label[for="interests"]::after,
  .form_group label[for="profession"]::after {
    content: "";
  }

.photoUploadForm label {
    margin-bottom: 10px;
    font-weight: 600;
    color: #333;
    font-size: 20px;
}

.photoUploadForm input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    color: #333;
    width: 96%;
    transition: box-shadow 0.2s ease-in-out;
    background: linear-gradient(to bottom, #f9f9f9, #fff);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.photoUploadForm input[type="file"]::file-selector-button {
    background: linear-gradient(to right, #85655a, #795548);
    padding: 14px 18px;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.photoUploadForm input[type="file"]::file-selector-button:hover {
    background: linear-gradient(to right, #F57C00, #E65100);
    transform: translateY(-2px);
}

.photoUploadForm img.profile_preview {
    max-width: 100%;
    max-height: 280px;
    margin-bottom: 10px;
}

.form_checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

.form_checkbox:checked {
    border-color:  #795548;
}

.form_checkbox:checked::before {
    content: '\2713';
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2{
    margin-bottom: 15px;
    color:#333;
    margin-left: 15px;
}
