.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #2b2b2b;
    padding-bottom: 10vh;
    width: 100%;
    position: relative;
    min-height: 90vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    padding: 50px;
    box-sizing: border-box;
}

.main {
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 2000px;
    min-width: 1000px;
    min-height: 500px;
    max-height: 1000px;
    position: relative;
    border: 2px solid #36e2ff;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, 0);
    box-sizing: border-box;
}

.registration {
    text-align: center;
}

.field {
    width: 400px;
    height: 40px;
    margin: 8px;
    border: 2px solid #36e2ff;
    border-radius: 5px;
    background-color: #2b2b2b;
    color: white;
    font-size: 20px;
}

.button {
    border-radius: 5px;
    width: 410px;
    height: 40px;
    margin-top: 70px;
    background-color: #36e2ff;
    font-size: 20px;
}

.line {
    margin: 25px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: white;
}

.text {
    color: white;
    padding-bottom: 0px;
    font-size: 25px;
}

.text_size {
    font-size: 45px;
    padding-bottom: 5px;
}

.hidden_field {
    width: 360px;
    height: 30px;
    color: red;
    font-size: 15px;
}

